*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  
}
#wrapper {
  margin: 0 auto;
  width: 500px;
  padding: 5%;
  border:5px solid #E3F2FD;
  text-align: center;
}
#profileName {
  margin-top: 8%;
  font-size: 24px;
  
}