
/* 박스5 정렬 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
div {
  height: 30px;
  margin-bottom: 1%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  line-height: 100%;
  background-color: #666;
  border: 1px solid #444;
}

.box12, .box6 {
  float: left;
}
.box12 {
  width: 7.85%;
}
/*
div:not(:nth-of-type(5n-4)) {
  margin-left: 2.5%;
}
n이 1부터 시작한다고 알았을때 수식이었으나 n이 0부터 시작하므로 수식이 변경됨.
*/
.box12:not(:nth-of-type(12n+1)) {
  margin-left: 0.5%;
}

.box6 {
  width: 16.25%;
}
.box6:not(:nth-of-type(6n+1)) {
  margin-left: 0.5%;
}


